.home__header {
    position: sticky;
    top: 0;
    z-index:1;
    background-color: #33312c;
    object-fit: contain;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.home__subheader {
    display: flex;
    align-items: center;
    padding: 10px;
}

.home__posts {
    padding: 20px;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}

.home__avatar {
    margin-right: 10px;
}

.imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:10px; 
    padding-top: 10px;
}

.home__subheader__text {
    font-size: 20px;
    color: rgb(235, 231, 225);
    margin-right: 10px;
    cursor: pointer;
}

.image_upload_button {
    background-color: #33312c;
    color:white;
    cursor: pointer;
    margin-left: 10px;
}

.category_button {
    color:white;
    cursor: pointer;
    margin-left: 20px;
}

.imageupload h2 {
    cursor: pointer;
    text-decoration: underline;
}

.viewQuery__text {
    margin-left: 10px;
}